<table style="width:fit-content;">
    <tr>
        <th style="padding-left:5px;padding-right:5px;">Item</th>
        <th style="padding-left:5px;padding-right:5px;">Use</th>
        <th style="padding-left:5px;padding-right:5px;">Access Body Part</th>
        <th style="padding-left:5px;padding-right:5px;">Use Count</th>
        <th style="padding-left:5px;padding-right:5px;">Condition</th>
        <th style="padding-left:5px;padding-right:5px;">Weight</th>
    </tr>
{% for entry in site.pages %}
    {% if entry.page_category contains 'external_bleeding_management' %}
    <tr>
        <td style="text-align:left;width:fit-content;padding:4px;">
            <img src="{{ entry.infobox_image | relative_url }}" height="50"> <a href="{{ entry.title }}">{{ entry.title }}</a>
        </td>
        <td style="text-align:left;">
            {{ entry.export_use }}
        </td>
        <td style="padding:0;">
            {% include git-wiki/components/infobox/section_targetpart.html selection=entry.infobox_use_selection %}
        </td>
        <td style="text-align:center;font-size:18px;">
            {% include git-wiki/components/infobox/section_usecount.html usecount=entry.infobox_item_usecount %}
        </td>
        <td style="text-align:left;">
            {{ entry.export_condition }}
        </td>
        <td>
            {% include git-wiki/components/infobox/section_weight.html weight=entry.infobox_item_weight weights=entry.infobox_item_weights %}
        </td>
    </tr>
    {% endif %}
{% endfor %}
</table>