{% case include.category %}
    {% when "airway" %}
    <img src="{{ '/wiki/image/category_airway.png' | relative_url }}" height="{{ include.image_size | default: 32 }}"><span style="margin-left:4px;">Airway/Breathing</span>
    {% when "advanced" %}
    <img src="{{ '/wiki/image/category_advanced.png' | relative_url }}" height="{{ include.image_size | default: 32 }}"><span style="margin-left:4px;">Advanced Treatment</span>
    {% when "examine" %}
    <img src="{{ '/wiki/image/category_examine.png' | relative_url }}" height="{{ include.image_size | default: 32 }}"><span style="margin-left:4px;">Examine</span>
    {% when "medication" %}
    <img src="{{ '/wiki/image/category_medication.png' | relative_url }}" height="{{ include.image_size | default: 32 }}"><span style="margin-left:4px;">Medication</span>
    {% when "transfusion" %}
    <img src="{{ '/wiki/image/category_transfusion.png' | relative_url }}" height="{{ include.image_size | default: 32 }}"><span style="margin-left:4px;">Transfusion</span>
    {% else %}
    <img src="{{ '/wiki/image/category_bandage.png' | relative_url }}" height="{{ include.image_size | default: 32 }}"><span style="margin-left:4px;">Bandage/Fracture</span>
{% endcase %}
{% if include.category2 %}
<br>
{% case include.category2 %}
    {% when "airway" %}
    <img src="{{ '/wiki/image/category_airway.png' | relative_url }}" height="{{ include.image_size | default: 32 }}"><span style="margin-left:4px;">Airway/Breathing</span>
    {% when "advanced" %}
    <img src="{{ '/wiki/image/category_advanced.png' | relative_url }}" height="{{ include.image_size | default: 32 }}"><span style="margin-left:4px;">Advanced Treatment</span>
    {% when "examine" %}
    <img src="{{ '/wiki/image/category_examine.png' | relative_url }}" height="{{ include.image_size | default: 32 }}"><span style="margin-left:4px;">Examine</span>
    {% when "medication" %}
    <img src="{{ '/wiki/image/category_medication.png' | relative_url }}" height="{{ include.image_size | default: 32 }}"><span style="margin-left:4px;">Medication</span>
    {% else %}
    <img src="{{ '/wiki/image/category_bandage.png' | relative_url }}" height="{{ include.image_size | default: 32 }}"><span style="margin-left:4px;">Bandage/Fracture</span>
{% endcase %}
{% endif %}