---
is_wiki_page: false
---

{% include git-wiki/defines/defines.html %}

<!doctype html>
<html>
    {% include git-wiki/sections/head/head.html %}
    <link rel="canonical" href="{{ page.redirect.to }}">
    <meta http-equiv="refresh" content="0; url={{ page.redirect.to }}">
    <meta name="robots" content="noindex">
    <body>
        <div style="text-align:center;">
            <a href="{{ page.redirect.to }}">Click here if you are not redirected</a>
        </div>
    </body>
    <script>location="{{ page.redirect.to }}"</script>
</html>